<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ooadpro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ooadserv</display-name>
    <servlet-name>ooadserv</servlet-name>
    <servlet-class>ooadserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ooadserv</servlet-name>
    <url-pattern>/ooadserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ooadserv1</display-name>
    <servlet-name>ooadserv1</servlet-name>
    <servlet-class>ooadserv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ooadserv1</servlet-name>
    <url-pattern>/ooadserv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv</display-name>
    <servlet-name>serv</servlet-name>
    <servlet-class>serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv4</display-name>
    <servlet-name>serv4</servlet-name>
    <servlet-class>serv4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv4</servlet-name>
    <url-pattern>/serv4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ser5</display-name>
    <servlet-name>ser5</servlet-name>
    <servlet-class>ser5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ser5</servlet-name>
    <url-pattern>/ser5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ser6</display-name>
    <servlet-name>ser6</servlet-name>
    <servlet-class>ser6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ser6</servlet-name>
    <url-pattern>/ser6</url-pattern>
  </servlet-mapping>
</web-app>